In [ ]:
# Author: Khushbu Patel
# Date: 5/2/2023
# Description: Using the iris dataset we want to figure out if a species is versicolor or not, using linear regressionm

In [3]:
import pandas as pd

In [8]:
df_iris = pd.read_csv('iris.csv')
df_iris

,Unnamed: 0,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,0,5.1,3.5,1.4,0.2,0
1,1,4.9,3.0,1.4,0.2,0
2,2,4.7,3.2,1.3,0.2,0
3,3,4.6,3.1,1.5,0.2,0
4,4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,2
146,146,6.3,2.5,5.0,1.9,2
147,147,6.5,3.0,5.2,2.0,2
148,148,6.2,3.4,5.4,2.3,2
149,149,5.9,3.0,5.1,1.8,2

In [9]:
#mod to pick versicolor as our target
df_iris_mod = df_iris.copy(deep=True)
df_iris_mod['Versicolour'] = (df_iris_mod['target']==1)
df_iris_mod.drop('target', axis = 1, inplace = True)
df_iris_mod

,Unnamed: 0,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Versicolour
0,0,5.1,3.5,1.4,0.2,False
1,1,4.9,3.0,1.4,0.2,False
2,2,4.7,3.2,1.3,0.2,False
3,3,4.6,3.1,1.5,0.2,False
4,4,5.0,3.6,1.4,0.2,False
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,False
146,146,6.3,2.5,5.0,1.9,False
147,147,6.5,3.0,5.2,2.0,False
148,148,6.2,3.4,5.4,2.3,False
149,149,5.9,3.0,5.1,1.8,False

In [10]:
#Create feature and target 
X = df_iris_mod.iloc[:,:-1]
X.head()
y = df_iris_mod.iloc[:,-1]
y.head()

In [ ]:
#Split the data into 80% training and 20% test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=123)

In [11]:
#Linear Regression
from sklearn.linear_model import LinearRegression 
from sklearn import metrics

reg = LinearRegression() 
  
reg.fit(X_train, y_train) 

y_pred = reg.predict(X_test)

y_pred

array([ 0.8845439 ,  0.34368316,  0.3063668 ,  0.3605258 , -0.02968836,
        0.0065619 ,  0.71380901,  0.11726782,  0.60192167,  0.63335935,
       -0.11840576, -0.33752887,  0.73980554,  0.36588573,  0.19600832,
        0.52294399, -0.0702755 ,  0.44237087,  0.75496071,  0.16235487,
        0.1079466 ,  0.23467212,  0.32740167,  0.12842198, -0.17785869,
        0.24998369,  0.06914587,  0.30384145,  0.17674598,  0.2581102 ])

In [12]:
y_pred = y_pred.round().astype(int)
y_pred

array([1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0])

In [18]:
print(metrics.confusion_matrix(y_test, y_pred))

array([[22,  2],
       [ 1,  5]])

In [14]:
print(metrics.accuracy_score(y_test, y_pred))

0.9

In [15]:
print(metrics.precision_score(y_test, y_pred))

0.7142857142857143

In [16]:
print(metrics.recall_score(y_test, y_pred))

0.8333333333333334

The problem I picked is regression, to predict the contiuous value of a datapoint. I wanted to see if a species is versicolor or not. I decided to run a linear regression so I split the data 80% training and 20% testing. From this I tested the datasets and took a look at the metrics. The recall, precision, and accuracy score are all very high which is good, our data is fitting well.